<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <meta charset="utf-8">
            <title>Virtu test</title>

            <% if (state) { %>
                <script>
                    window.__INITIAL_STATE__ = '<%= JSON.stringify(state) %>';
                </script>
            <% } %>
    </head>
    <body>
        <div id="<%- APP_COMPONENT_ID %>"><%= html %></div>
        <script type="application/javascript" src="/bundle.js"></script>
    </body>
</html>